body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 50em;
}

#CreateAGame{
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border: solid black 0.2em;
  border-radius: 10%;

}



input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 150%;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 0.5s ease-in;
  outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn {
  color: rgb(255, 64, 129);
  background-color: white;
  box-shadow:none;
}

button.turn:hover {
  background-color: #eaeaea;
}

#CreateAGameMenu{
  width: 50%;
  height: 50%;
  border: solid black 0.2em;
  border-radius: 10%;
  position: fixed;
  transform: translateX(50%) translateY(1em);
}

#CreateAGameContent{
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  height: 50%;
}

#CreateAGameContent > button{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
